.login_container {
    -fx-background-color: rgb(220, 220, 220)254, 125)
}
/*logo container styles*/
.login_logo_container {
    -fx-background-color: rgba(117, 149, 254, 0.483);
    -fx-alignment: center;
    -fx-background-radius: 30;
}




